@model Task1.Models.Author

@{
    ViewBag.PageTitle = Model.Surname + Model.Name + Model.Patronymic;
}


<h2>@Model.Name @Model.Patronymic @Model.Surname</h2>
<div>
    <hr />
    <div id="author">
        <div class="field_pair">
            <label class="field_label">Имя</label>
            @Html.DisplayFor(m => m.Name, new { htmlAttributes = new { @class = "author_display" } })
        </div>

        <div class="field_pair">
            <label class="field_label">Фамилия</label>
            @Html.DisplayFor(m => m.Surname, new { htmlAttributes = new { @class = "author_display" } })
        </div>

        <div class="field_pair">
            <label class="field_label">Отчество</label>
            @Html.DisplayFor(m => m.Patronymic, new { htmlAttributes = new { @class = "author_display" } })
        </div>

        <div class="field_pair">
            <label class="field_label">Дата рождения</label>
            @Html.DisplayFor(m => m.DateOfBitrh, new { htmlAttributes = new { @class = "author_display" } })
        </div>
    </div>

    <h3>Произведения</h3>
    <hr />

    @Html.DisplayAuthorsBooks(@Model.Books)


</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
@section Styles{
    <style>
    
        .author_display {
            width: 15em;
        }

        #author_form {
            width: 405px;
            position: relative;
        }
    </style>
}
